.login-container {
  width: 100%;
  height: 100%;
  // background: #2d3a4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  text-align: center;
  height: 40px;
  line-height: 20px;
  font-size: 26px;
  margin-bottom: 10px;
}

.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.login-form {
  min-width: 300px;
}

.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.user-info {
  position: absolute;
  right: 20px;
  top: 0px;

}

.user-info:hover {
  cursor: pointer;
}
.user-name {
  padding: 5px;
}